* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "twitterfont";
  src: url(/chirp-regular-web.woff);
}
@font-face {
  font-family: "Bold";
  src: url(/chirp-bold-web.woff);
}
@font-face {
  font-family: "regu";
  src: url(/OpenSans-Regular.ttf);
}
body {
  --tc: var(#1d9bf0);
  --tbg: var(#15202b);
  --tl: var(#1a74b1);
  --th: var(#15202b);
  background-color: #15202b;
  display: flex;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
.left {
  margin-left: 125px;
  font-family: "regu";
  position: fixed;
  top: 0;
  height: fit-content;
}
.leftoption {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px;
  width: fit-content;
  padding-right: 20px;
}

#option {
  padding: 10px;
  color: white;
}
h4 {
  font-size: 21px;
  font-weight: 500;
  margin-left: 10px;
  color: white;
}
.leftoption:hover {
  background-color: #4d6072;
  border-radius: 20px;
  transition: color 100ms ease-in-out;
}
#tweet {
  width: 100%;
  background-color: #1d9bf0;
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 30px;
  height: 55px;
  margin-top: 20px;
  justify-content: center;
  font-size: 20px;
}

/* center  */

/* home  */

.center {
  font-family: "twitterfont";
  margin-left: 380px;
  margin-top: 17px;
  width: 600px;
}
.home {
  top: 0;
  position: sticky;
}
.home {
  color: white;
  width: 100%;
  justify-content: space-between;
}
.status {
  display: flex;
  padding-top: 30px;
  height: fit-content;
}
.status img {
  width: 60px;
  height: 60px;
}
.status input {
  border-style: none;
  border-width: none;
  outline: none;
  height: 60px;
  width: 460px;
  border-radius: 30px;
  background-color: #15202b;
  font-size: large;
  font-family: "twitterfont";
  font-size: 20px;
  color: white;
  margin-left: 20px;
}
.statusfooter {
  margin-top: 25px;
  padding-left: 65px;
}
#icons {
  color: #1d9bf0;
  padding: 10px;
  font-size: 25px;
}
#tweet2 {
  background-color: #1d9bf0;
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 30px;
  height: 35px;
  justify-content: center;
  text-align: center;
  margin-top: 2px;
  padding-top: 5px;
  padding: 10px;
  font-size: 15px;
  width: 90px;
}
.centertop {
  border-left: 0.25px;
  border-right: 0.25px;
  border-bottom: 0.25px;
  border-top: 0;
  border-style: solid;
  border-color: #4d6072;
  padding-left: 25px;
  padding-right: 25px;
}

/* content  */

.contentshow {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 60px;
  width: 100%;
  color: #1d9bf0;
  padding: 10px;
  border: 0.25px solid #4d6072;
}

/* content  */

.content {
  border-left: 0.25px;
  border-right: 0.25px;
  border-bottom: 0.25px;
  border-top: 0;
  border-style: solid;
  border-color: #4d6072;
  padding-left: 20px;
}

.contentinfo {
  display: flex;
  color: white;
  align-content: center;
  cursor: pointer;
}
#img3 {
  height: 55px;
  width: 55px;
  padding: 10px;
}
.cimg img {
  padding-top: 10px;
  max-width: 550px;
  max-height: 550px;
}
.contentoptions {
  display: flex;
  justify-content: space-between;

  width: 70%;
  color: #4d6072;
}
.material-icons {
  padding-right: 10px;
}
.headicons {
  display: flex;
  align-content: center;
  padding: 5px;
}

/* right  */

.right {
  margin: 20px;
  width: 350px;
  color: white;
}

.righttop {
  /* padding: 10px; */
  width: 100%;
  display: flex;
  border-radius: 30px;
  height: 60px;
  background-color: #253341;
  /* padding: 20px; */
}
.right .material-icons {
  padding: 20px;
}
.righttop input {
  outline: none;
  border-width: 0px;
  background-color: #253341;
  color: #b4bcc2;
}

.rightcontent {
  border-radius: 50px;
}
.contenthead {
  /* border-radius: 30px; */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #202c38;
  height: fit-content;
  margin-top: 20px;
  padding: 20px;
}

.contentbody1 {
  justify-content: space-between;
  padding: 10px;
  display: flex;
  cursor: pointer;
  background-color: #202c38;
  /* border-radius: 20px; */
}
.contentbody:hover {
  background-color: #253341;
}
.bodyright img {
  width: 90px;
  height: 90px;
}
.contentbody1:hover {
  background-color: #4d6072;
}

#small {
  font-size: 13px;
  color: grey;
}
#big {
  font-size: 16px;
  color: white;
}
.bodyright {
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
}
.bodyleft {
  flex: 0.7;
}

.radius{
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#left-low{
  margin-top: 30px;
  border-radius: 15px;
  background: #202c38;
}
#left-low h2{
  padding-left: 30px;
}
#left-low img{
  padding:10px;
  height: 70px;
  width: 70px;
  border-radius: 50px;
}

#left-low a{
  border-radius: 30px;
  text-decoration: none;
  font-family: 'bold';
  font-size: 14px;
  padding: 5px 20px;
  background-color: #fff;
}

#left-low div{
  align-items: center;
}
.name{
  font-family: 'Bold';
  font-size: 15px;
}
.twitter-id{
  font-family: 'regu';
}
.on-hover{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-right: 20px;
}
.on-hover:hover{ 
  background-color: #4d6072;
}